.sidebar-divider {
  margin: 0 24px;
}

.details {
  color: #858796;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 26px;
  border-radius: 8px;
}

.title-details {
  font-size: 28px;
}

.info-details {
  max-width: 700px;
  margin: auto;
}

.title-products {
  font-size: 24px;
}

.details-total {
  text-align: right;
}

.name-product {
  max-width: 200px;
}

.swal2-title {
  padding: 0.8em 1.6em 0 !important;
}

.sanpham-img {
  max-width: 80px;
}

.header-logo {
  max-width: 120px;
  margin-left: 12px;
}

.fa-capsules {
  font-size: 15px;
  margin-left: 3px;
}

.fa-user-tie {
  font-size: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

.fa-file-invoice-dollar {
  font-size: 16px;
  margin-left: 4px;
  margin-right: 5px;
}

.fa-users-gear,
.fa-users {
  font-size: 15px;
  margin-left: 2px;
}

.fa-chart-line,
.fa-chart-pie,
.fa-chart-column
{
  font-size: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.sidebar-heading {
  padding: 5px 24px 0;
  font-weight: 800;
  font-size: .65rem;
  color: #b7b9cc;
}

.sidebar-admin {
  overflow-y: hidden;
  min-height: 180vh;
}

.checkall-wrap {
  padding-top: 0;
}

.alert-403 {
  color: #78261f;
  background-color: #fadbd8;
  border-color: #f8ccc8;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.35rem;
}