.sidebar-divider {
  margin: 0 24px;
}

.details {
  color: #858796;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 26px;
  border-radius: 8px;
}

.title-details {
  font-size: 28px;
}

.info-details {
  max-width: 700px;
  margin: auto;
}

.title-products {
  font-size: 24px;
}

.details-total {
  text-align: right;
}

.name-product {
  max-width: 200px;
}

.swal2-title {
  padding: 0.8em 1.6em 0 !important;
}